/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-bottom-color: #ff3d00;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.form {
  margin: 0 auto;
  margin-bottom: 20px;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
}

.gallery-item {
  list-style: none;
  transition: transform 0.5s ease;
}

.gallery-item:hover {
  transform: scale(1.05);
}

.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover; /* Задати масштабування зображення */
  cursor: pointer;
}

.hidden {
  display: none;
}

/* Стилі для кнопки Load More */
.js-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 20px auto;
  background-color: #ff3d00;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.js-button:hover {
  background-color: #e63946;
}

.js-button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}
