/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');

.loader {
  width: 48px;
  height: 48px;
  border: 3px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-bottom-color: #ff3d00;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.form {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 20px auto;
}

/* Стили для инпута */
.inp-css {
  font-size: 25px;
  height: 45px;
  padding: 0 10px;
  box-sizing: border-box;
  width: 250px;
}

.button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 0 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  margin: 20px auto;
}

.button:hover {
  background-color: #45a049;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
}
.gallery-item {
  list-style: none;
}
.gallery-item :hover {
  transform: scale(1.05);
  transition: 0.5s;
}
.gallery-image {
  width: 360px;
  height: 200px;
  cursor: pointer;
  border: solid, 1px;
}
.hidden {
  display: none;
}

.js-button {
}
